<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.DUMP" />

    <application>
        <receiver
            android:name=".ReactorDiagnosticsController"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.reactor.bench.reactnative.DIAGNOSTICS" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
